## EDA - Part 1 (2020. 08. 11)

### 2016년도 ~ 2019년도 해당 시즌별 팀의 전력 분석
> 2016년도 자료 분석 (추후 전체 시즌 자료에 적용 예정)

##### 1. 팀
- 시즌에 참여한 팀의 수

##### 2. 경기
- 홈, 원정 경기 수
- 홈, 원정 경기별 승패(승률)
- 총 경기 승패(승률)
- RANK

##### 3. 선수 시트
- 총 선수(투수/타자)
- 평균 연령(투수/타자)
- 평균 연봉(투수/타자)
- RANK
- 연령, 연봉과 승률의 상관관계 (수치)
- 연령, 연봉과 승률의 상관관게 (RANK)

#### INTRODUCTION

In [112]:
import pandas as pd
#경로
PATH = "database\\"

#엑셀 파일이름
doc2016 = "2020빅콘테스트_스포츠투아이_제공데이터_2016.xlsx"
doc2017 = "2020빅콘테스트_스포츠투아이_제공데이터_2016.xlsx"
doc2018 = "2020빅콘테스트_스포츠투아이_제공데이터_2016.xlsx"
doc2019 = "2020빅콘테스트_스포츠투아이_제공데이터_2016.xlsx"

# 팀 배열
team_arr = ["HH","HT","KT","LG","LT","NC","OB","SK","SS","WO"]
total_team = len(team_arr)

#### 1. 팀

In [105]:
#2016년 시즌
doc2016_1 = pd.read_excel(PATH + doc2016, sheet_name = "1.팀")
doc2016_1

  T_ID T_NM
0   HH   한화
1   HT  KIA
2   KT   KT
3   LG   LG
4   LT   롯데
5   NC   NC
6   OB   두산
7   SK   SK
8   SS   삼성
9   WO   넥센

In [106]:
print("총 팀의 수 : ", doc2016_1['T_NM'].count())

총 팀의 수 :  10

#### 2. 경기

In [122]:
#2016년 시즌
doc2016_2 = pd.read_excel(PATH + doc2016, sheet_name = "2.경기")
doc2016_2.head()

doc2016_4 = pd.read_excel(PATH + doc2016, sheet_name = "4.팀투수")
doc2016_4.head()

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,CG_CK,WLS,HOLD,INN2,...,KK,GD,WP,BK,ERR,R,ER,P_WHIP_RT,P2_WHIP_RT,CB_WHIP_RT
0,20160401HHLG0,20160401,LG,HH,0,B,0,W,0,36,...,10,1,0,0,0,4,4,0.642857,1.285714,2.400000
1,20160401HHLG0,20160401,HH,LG,0,T,0,L,0,34,...,11,0,1,0,0,5,4,1.500000,1.000000,0.750000
2,20160401HTNC0,20160401,NC,HT,0,B,0,W,0,27,...,10,1,2,0,0,4,4,1.333333,1.038462,2.142857
3,20160401HTNC0,20160401,HT,NC,0,T,0,L,0,24,...,9,1,0,0,0,5,5,0.500000,1.695652,1.875000
4,20160401KTSK0,20160401,SK,KT,0,B,0,L,0,27,...,7,0,0,0,0,8,8,1.000000,2.357143,2.250000

In [108]:
home_arr = [0,0,0,0,0,0,0,0,0,0]       #홈경기
away_arr = [0,0,0,0,0,0,0,0,0,0]       #원정경기
#dh_arr = [0,0,0,0,0,0,0,0,0,0]        #더블헤더경기 (아직 적용안됨)
home_error_index = []                  #홈경기 팀명 에러 발생 위치
away_error_index = []                  #원정경기 팀명 에러 발생 위치
match = doc2016_2["HOME_KEY"].count()  #경기 수


for i in range(match):
    target = doc2016_2["HOME_KEY"][i];
    
    if (target == "HH"):
        home_arr[0]+= 1
    elif (target == "HT"):
        home_arr[1]+= 1
    elif (target == "KT"):
        home_arr[2]+= 1
    elif (target == "LG"):
        home_arr[3]+= 1
    elif (target == "LT"):
        home_arr[4]+= 1
    elif (target == "NC"):
        home_arr[5]+= 1
    elif (target == "OB"):
        home_arr[6]+= 1
    elif (target == "SK"):
        home_arr[7]+= 1
    elif (target == "SS"):
        home_arr[8]+= 1
    elif (target == "WO"):
        home_arr[9]+= 1
    else:
        home_error_index.append(i)

#원정경기
for i in range(match):
    target = doc2016_2["VISIT_KEY"][i];
    
    if (target == "HH"):
        away_arr[0]+= 1
    elif (target == "HT"):
        away_arr[1]+= 1
    elif (target == "KT"):
        away_arr[2]+= 1
    elif (target == "LG"):
        away_arr[3]+= 1
    elif (target == "LT"):
        away_arr[4]+= 1
    elif (target == "NC"):
        away_arr[5]+= 1
    elif (target == "OB"):
        away_arr[6]+= 1
    elif (target == "SK"):
        away_arr[7]+= 1
    elif (target == "SS"):
        away_arr[8]+= 1
    elif (target == "WO"):
        away_arr[9]+= 1
    else:
        away_error_index.append(i)
   

if (len(error_index) == 0):
    print("----- 경기 수 -----")
    for i in range(10):
        print ("|" + team_arr[i] + "| ","Home:",home_arr[i], "Away", away_arr[i])        
else:
    print("Error data index")
    print(error_index)

----- 경기 수 -----
|HH|  Home: 72 Away 72
|HT|  Home: 72 Away 72
|KT|  Home: 72 Away 72
|LG|  Home: 72 Away 72
|LT|  Home: 72 Away 72
|NC|  Home: 72 Away 72
|OB|  Home: 72 Away 72
|SK|  Home: 72 Away 72
|SS|  Home: 72 Away 72
|WO|  Home: 72 Away 72

In [145]:
#팀명 = [홈경기[승,무,패], 원정경기[승,무,패]]
HH = [[0,0,0],[0,0,0]]
HT = [[0,0,0],[0,0,0]]
KT = [[0,0,0],[0,0,0]]
LG = [[0,0,0],[0,0,0]]
LT = [[0,0,0],[0,0,0]]
NC = [[0,0,0],[0,0,0]]
OB = [[0,0,0],[0,0,0]]
SK = [[0,0,0],[0,0,0]]
SS = [[0,0,0],[0,0,0]]
WO = [[0,0,0],[0,0,0]]
result_arr = [HH, HT, KT, LG, LT, NC, OB, SK, SS, WO]
count = len(doc2016_4["T_ID"])


def update_result(team, inhome, result):
    if (inhome == True):
        if (result == "W"):
            result_arr[team][0][0]+= 1
        elif (result == "D"):
            result_arr[team][0][1]+= 1
        elif (result == "L"):
            result_arr[team][0][2]+= 1
    elif (inhome == False):
        if (result == "W"):
            result_arr[team][1][0]+= 1
        elif (result == "D"):
            result_arr[team][1][1]+= 1
        elif (result == "L"):
            result_arr[team][1][2]+= 1
        
home = False       # 홈, 어웨이 경기 구분
for i in range(count):
    target = doc2016_4["T_ID"][i]     # 팀
    result = doc2016_4["WLS"][i]      # 결과
    home = not home
    
    if (target == "HH"):
        update_result(0, home, result) 
    elif (target == "HT"):
        update_result(1, home, result)
    elif (target == "KT"):
        update_result(2, home, result)
    elif (target == "LG"):
        update_result(3, home, result)
    elif (target == "LT"):
        update_result(4, home, result)
    elif (target == "NC"):
        update_result(5, home, result)
    elif (target == "OB"):
        update_result(6, home, result)
    elif (target == "SK"):
        update_result(7, home, result)
    elif (target == "SS"):
        update_result(8, home, result)
    elif (target == "WO"):
        update_result(9, home, result)


for i in range(total_team):
    print(result_arr[i])

#doc2016_4
#result_arr[0][0][1]+= 1
#print(result_arr[0])

[[36, 2, 34], [30, 1, 41]]
[[38, 0, 34], [32, 1, 39]]
[[28, 0, 44], [25, 2, 45]]
[[40, 2, 30], [31, 0, 41]]
[[40, 0, 32], [26, 0, 46]]
[[39, 2, 31], [44, 1, 27]]
[[46, 1, 25], [47, 0, 25]]
[[35, 0, 37], [34, 0, 38]]
[[34, 0, 38], [31, 1, 40]]
[[44, 0, 28], [33, 1, 38]]

In [175]:
# 홈경기 승무패, 원정경기 승무패, 총경기 승무패
# 승률은 승/(승 + 패)로 계산 (무승부는 상관 없다)
print("각 팀별 홈/원정 경기에 따른 '승/무/패/승률'")
for i in range(total_team):
    home_rate = round(result_arr[i][0][0] / (result_arr[i][0][0] + result_arr[i][0][2]),3)
    away_rate = round(result_arr[i][1][0] / (result_arr[i][0][0] + result_arr[i][1][2]),3)
    
    print ("|" + team_arr[i] + "| ","Home:",home_arr[i], result_arr[i][0], home_rate,
           "Away:", away_arr[i], result_arr[i][1], away_rate)
    
print("\n")
print("각 팀별 총 경기에 따른 '승/무/패/승률'")
total_result_arr = []
for i in range(total_team):
    total_win = result_arr[i][0][0] + result_arr[i][1][0]
    total_draw = result_arr[i][0][1] + result_arr[i][1][1]
    total_lose = result_arr[i][0][2] + result_arr[i][1][2]
    total_rate = round(total_win / (total_win + total_lose),3)
    #print ("|" + team_arr[i] + "| ", "W:", total_win, "D:", total_draw, "L:", total_lose, 
    #       "\n      Rate:", str(total_rate),
    #       "\n      Rank:", )

rank_arr = [1,1,1,1,1,1,1,1,1,1]
for i in range(total_team):
    value
    for j in range(total_team):
        if(i != j):
            if(total)

각 팀별 홈/원정 경기에 따른 '승/무/패/승률'
|HH|  Home: 72 [36, 2, 34] 0.514 Away: 72 [30, 1, 41] 0.39
|HT|  Home: 72 [38, 0, 34] 0.528 Away: 72 [32, 1, 39] 0.416
|KT|  Home: 72 [28, 0, 44] 0.389 Away: 72 [25, 2, 45] 0.342
|LG|  Home: 72 [40, 2, 30] 0.571 Away: 72 [31, 0, 41] 0.383
|LT|  Home: 72 [40, 0, 32] 0.556 Away: 72 [26, 0, 46] 0.302
|NC|  Home: 72 [39, 2, 31] 0.557 Away: 72 [44, 1, 27] 0.667
|OB|  Home: 72 [46, 1, 25] 0.648 Away: 72 [47, 0, 25] 0.662
|SK|  Home: 72 [35, 0, 37] 0.486 Away: 72 [34, 0, 38] 0.466
|SS|  Home: 72 [34, 0, 38] 0.472 Away: 72 [31, 1, 40] 0.419
|WO|  Home: 72 [44, 0, 28] 0.611 Away: 72 [33, 1, 38] 0.402


각 팀별 총 경기에 따른 '승/무/패/승률'
0.468 <class 'float'>
0.49 <class 'float'>
0.373 <class 'float'>
0.5 <class 'float'>
0.458 <class 'float'>
0.589 <class 'float'>
0.65 <class 'float'>
0.479 <class 'float'>
0.455 <class 'float'>
0.538 <class 'float'>
0.468
0.49
0.373
0.5
0.458
0.589
0.65
0.479
0.455
0.538

#### 3. 선수

In [109]:
doc2016_3 = pd.read_excel(PATH + doc2016, sheet_name = "3.선수")
doc2016_3.head()

   GYEAR  PCODE NAME T_ID POSITION  AGE_VA   MONEY
0   2016  60100  백창수   LG        내      28  4000만원
1   2016  60105  배민관   LG        투      25  2700만원
2   2016  60146  이승현   LG        투      25  3700만원
3   2016  60164  유경국   LG        투      25  2700만원
4   2016  60181  김지용   LG        투      28  4000만원

In [168]:
hitter_arr = [0,0,0,0,0,0,0,0,0,0]               #각 팀별 타자의 수
pitcher_arr = [0,0,0,0,0,0,0,0,0,0]              #각 팀별 투수의 수
hitter_age_arr = [0,0,0,0,0,0,0,0,0,0]           #각 팀별 타자의 총 나이
pitcher_age_arr = [0,0,0,0,0,0,0,0,0,0]          #각 팀별 투수의 총 나이
hitter_money_arr = [0,0,0,0,0,0,0,0,0,0]         #각 팀 타자의 연봉 총합
pitcher_money_arr = [0,0,0,0,0,0,0,0,0,0]        #각 팀 투수의 연봉 총합
total_player = doc2016_3["PCODE"].count()        #총 선수의 수

def update_teamplayer(team, value, age, money):
    if (value == "내"):
        hitter_arr[team]+= 1
        hitter_age_arr[team]+= age
        hitter_money_arr[team]+= money
    elif (value == "외"):
        hitter_arr[team]+= 1
        hitter_age_arr[team]+= age
        hitter_money_arr[team]+= money
    elif (value == "포"):
        hitter_arr[team]+= 1
        hitter_age_arr[team]+= age
        hitter_money_arr[team]+= money
    elif (value == "투"):
        pitcher_arr[team]+= 1
        pitcher_age_arr[team]+= age
        pitcher_money_arr[team]+= money
    else:
        print("position error");

    

for i in range(total_player):
    target = doc2016_3["T_ID"][i]
    target_position = doc2016_3["POSITION"][i]
    target_age = doc2016_3["AGE_VA"][i]
    str_money = str(doc2016_3["MONEY"][i])       #선수 연봉 데이터는 문자, 단위는 원, 달러, 엔이다.
    if (str_money[-1] == "원"):                  #NULL데이터는 검색을 통해 채워준다.
        money = int(str_money[:-2])               #모든 화폐를 한화(만 원) 단위로 변환하여 합한다. 
        target_money = money
    elif (str_money[-1] == "러"):
        money = int(str_money[:-2])
        target_money = money * 0.1
    elif (str_money[-1] == "엔"):
        money = int(str_money[:-1])
        target_money = int(money / 1010.95)
    
    
    if (target == "HH"):
        update_teamplayer(0, target_position, target_age, target_money)
    elif (target == "HT"):
        update_teamplayer(1, target_position, target_age, target_money)
    elif (target == "KT"):
        update_teamplayer(2, target_position, target_age, target_money)
    elif (target == "LG"):
        update_teamplayer(3, target_position, target_age, target_money)
    elif (target == "LT"):
        update_teamplayer(4, target_position, target_age, target_money)
    elif (target == "NC"):
        update_teamplayer(5, target_position, target_age, target_money)
    elif (target == "OB"):
        update_teamplayer(6, target_position, target_age, target_money)
    elif (target == "SK"):
        update_teamplayer(7, target_position, target_age, target_money)
    elif (target == "SS"):
        update_teamplayer(8, target_position, target_age, target_money)
    elif (target == "WO"):
        update_teamplayer(9, target_position, target_age, target_money)

In [159]:
# 2016년도 시즌을 참여한 각 팀 선수의 수
for i in range(total_team):
    team_player = hitter_arr[i] + pitcher_arr[i]
    hitter_average_age = round(hitter_age_arr[i] / hitter_arr[i],3)
    pitcher_average_age = round(pitcher_age_arr[i] / pitcher_arr[i],3)
    team_average_age = round((hitter_age_arr[i] + pitcher_age_arr[i]) / team_player,3)
    hitter_average_money = round(hitter_money_arr[i] / hitter_arr[i],3)
    pitcher_average_money = round(pitcher_money_arr[i] / pitcher_arr[i],3)
    team_average_money = round((hitter_money_arr[i] + pitcher_money_arr[i]) / team_player,3)
    print("|"+team_arr[i]+"|")
    print("[총 선수(투수/타자)]:", str(team_player) + " (" + str(pitcher_arr[i]) + " / " + str(hitter_arr[i]) + ")")
    print("[평균나이(투수/타자)]", str(team_average_age) + " (" + str(pitcher_average_age) + " / " + str(hitter_average_age) + ")" )
    print("[평균연봉(투수/타자)]", str(team_average_money) + " (" + str(pitcher_average_money) + " / " + str(hitter_average_money) + ")")
    print("\n")

|HH|
[총 선수(투수/타자)]: 74 (32 / 42)
[평균나이(투수/타자)] 29.23 (29.438 / 29.071)
[평균연봉(투수/타자)] 19172.743 (22915.094 / 16321.429)


|HT|
[총 선수(투수/타자)]: 67 (32 / 35)
[평균나이(투수/타자)] 27.373 (27.25 / 27.486)
[평균연봉(투수/타자)] 15308.955 (19509.375 / 11468.571)


|KT|
[총 선수(투수/타자)]: 65 (30 / 35)
[평균나이(투수/타자)] 27.062 (25.967 / 28.0)
[평균연봉(투수/타자)] 10793.846 (10303.333 / 11214.286)


|LG|
[총 선수(투수/타자)]: 66 (31 / 35)
[평균나이(투수/타자)] 27.939 (28.097 / 27.8)
[평균연봉(투수/타자)] 13760.606 (13645.161 / 13862.857)


|LT|
[총 선수(투수/타자)]: 70 (35 / 35)
[평균나이(투수/타자)] 27.4 (27.2 / 27.6)
[평균연봉(투수/타자)] 15135.714 (15434.286 / 14837.143)


|NC|
[총 선수(투수/타자)]: 67 (32 / 35)
[평균나이(투수/타자)] 25.94 (24.656 / 27.114)
[평균연봉(투수/타자)] 12667.164 (8737.5 / 16260.0)


|OB|
[총 선수(투수/타자)]: 67 (36 / 31)
[평균나이(투수/타자)] 26.896 (27.083 / 26.677)
[평균연봉(투수/타자)] 14655.224 (15255.556 / 13958.065)


|SK|
[총 선수(투수/타자)]: 68 (38 / 30)
[평균나이(투수/타자)] 27.132 (26.895 / 27.433)
[평균연봉(투수/타자)] 13760.294 (11284.211 / 16896.667)


|SS|
[총 선수(투수/타자)]: 67 (34 / 33)
[평균나이(투수/타자)] 27.94 (28.0 / 27.879)
[평균연봉(투수/타자)] 16267.164 (16941.176 / 15572.727)


|WO|
[총 선수(투수/타자)]: 64 (34 / 30)
[평균나이(투수/타자)] 25.578 (25.412 / 25.767)
[평균연봉(투수/타자)] 8885.938 (7535.294 / 10416.667)

- 승률자료를 넣어서 평균나이와 승률, 평균 연봉과 승률(랭크 상관관계)
- 승률자료를 넣어서 평균나이와 승률, 평균 연봉과 승률(수치 상관관계)